.slider {
  height: inherit !important;
}
.slides{
    height: inherit !important;
}

.indicators {
  display: none;
}

 .slider .slides li img{
     height: inherit !important;
 }

.image-overlay h2{
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3{
  font-size: 1.3.rem;
}

h5{
  font-size: 1.4rem;
}

canvas {
  border: 1px soild black;
}

h1 {
  display: inline-block;
  padding: .3em;
  font-family: 'Megrim', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%,-50%);
  color: rgba(255,255,255,.68);
  border: .075em solid rgba(255,255,255,.1);
}
