* {
    font-family: 'Didact Gothic', sans-serif ;
}

.imagePreview{
    height: 100px;
    width: 250px;
}

#uploadImagesModal .active {
  background: none;
}

#uploadImagesModal  #PlacesAutocomplete__root input[type=text]{
  padding-top : 50px !important;
}

#uploadImagesModal {
 font-family: 'Didact Gothic', sans-serif !important;
}
